@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Proyecto de catedra de Base de Datos II</p>
<h3>3er Año Tecnicatura Superior de Desarollo de Software</h3>
<img src="~/img/logo.png"/>
